- name: Install Flux CLI
  ansible.builtin.unarchive:
    src: https://github.com/fluxcd/flux2/releases/download/v0.32.0/flux_0.32.0_linux_amd64.tar.gz
    dest: /usr/local/bin
    remote_src: true

- name: Install Flux to cluster
  run_once: true
  changed_when: false
  ansible.builtin.command: flux install
