- name: Switch to Atmosphere image mirror
  hosts: all
  tasks:
    - name: Switch all images out of the CDN
      ansible.builtin.replace:
        path: "{{ zuul.project.src_dir }}/roles/defaults/vars/main.yml"
        regexp: '{{ atmosphere_image_prefix }}registry.atmosphere.dev'
        replace: harbor.atmosphere.dev

    - name: Print out the image list
      ansible.builtin.shell: |
        cat roles/defaults/vars/main.yml
      args:
        chdir: "{{ zuul.project.src_dir }}"
