clouds:
  atmosphere:
    auth:
      auth_url: "https://{{ openstack_helm_endpoints_keystone_api_host }}"
      username: "admin-{{ openstack_helm_endpoints_region_name }}"
      password: "{{ openstack_helm_endpoints_keystone_admin_password }}"
      project_name: admin
      user_domain_name: Default
      project_domain_name: Default
    region_name: "{{ openstack_helm_endpoints_keystone_region_name }}"
{% if cluster_issuer_type is defined and cluster_issuer_type in ('self-signed', 'ca') %}
    cacert: "/usr/local/share/ca-certificates/atmosphere.crt"
{% endif %}
{% if cluster_issuer_acme_private_ca is defined and cluster_issuer_acme_private_ca | bool %}
    cacert: "/etc/ssl/certs/ca-certificates.crt"
{% endif %}
