.tox
.vscode
doc/build/*
doc/source/roles/*/defaults
molecule/default/group_vars/*
!molecule/default/group_vars/.gitkeep
!molecule/default/group_vars/all
molecule/default/group_vars/all/*
!molecule/default/group_vars/all/molecule.yml
molecule/default/host_vars/*
!molecule/default/host_vars/.gitkeep
*.tar.gz
dist/
