.vscode
molecule/*/artifacts
molecule/*/group_vars/*
!molecule/*/group_vars/.gitkeep
!molecule/*/group_vars/all
molecule/*/group_vars/all/*
!molecule/*/group_vars/all/molecule.yml
molecule/*/host_vars/*
!molecule/*/host_vars/.gitkeep
*.tar.gz
__pycache__
tests/output
*.orig
*.rej
.direnv