[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group GitHub Replication
	owner = group atmosphere-core
[project]
	description = Simple & easy private cloud platform featuring VMs, Kubernetes & bare-metal\n
[access "refs/heads/*"]
	read = group GitHub Replication
