[tool.poetry]
name = "atmosphere"
version = "0.13.0"
description = ""
authors = ["Mohammed Naser <mnaser@vexxhost.com>"]
readme = "README.md"

[tool.poetry.scripts]
atmosphere-operator = "atmosphere.cmd.operator:main"

[tool.poetry.dependencies]
python = "^3.10"
pydantic = { version = "^1.10.4", optional = true }
schematics = { version = "^2.1.1", optional = true }
pykube-ng = { version = "^22.7.0", optional = true }
structlog = { version = "^22.1.0", optional = true }
taskflow = { version = "^5.0.0", optional = true }
tomli = { version = "^2.0.1", optional = true }
jsonnet = { version = "^0.18.0", optional = true }
kopf = { version = "^1.36.0", optional = true, extras = ["uvloop"] }
openstacksdk = "<0.99.0"
docker-image-py = "^0.1.12"

[tool.poetry.extras]
operator = [
  "schematics",
  "pydantic",
  "pykube-ng",
  "structlog",
  "taskflow",
  "tomli",
  "jsonnet",
  "kopf",
]

[tool.poetry.group.dev.dependencies]
ansible-core = "^2.13.4"
flake8 = "^5.0.4"
flake8-isort = "^4.2.0"
hypothesis = "6.61.0"
jmespath = "^1.0.1"
molecule = "^4.0.1"
pytest = "^7.1.3"
pytest-cov = "^3.0.0"
pytest-mock = "^3.8.2"
tomli-w = "^1.0.0"
responses = "^0.22.0"
pytest-forked = "^1.4.0"
pytest-xdist = "^3.1.0"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^8.5.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = ["--cov=atmosphere", "--cov-report=term-missing"]
filterwarnings = [
  "ignore::DeprecationWarning",
  "ignore::schematics.deprecated.SchematicsDeprecationWarning",
  "ignore:The asyncore module is deprecated",
]

[tool.vulture]
paths = ["atmosphere"]
