[tool.poetry]
name = "atmosphere"
version = "0.13.0"
description = ""
authors = ["Mohammed Naser <mnaser@vexxhost.com>"]
readme = "README.md"

[tool.poetry.scripts]
atmosphere-operator = "atmosphere.cmd.operator:main"

[tool.poetry.dependencies]
python = "^3.10"
ansible-core = "^2.13.4"
jmespath = "^1.0.1"
openstacksdk = "<0.99.0"
docker-image-py = "^0.1.12"
rjsonnet = "^0.5.2"

[tool.poetry.group.dev.dependencies]
flake8 = "^5.0.4"
flake8-isort = "^4.2.0"
molecule = "^4.0.1"
pytest = "^7.1.3"
pytest-cov = "^3.0.0"
pytest-mock = "^3.8.2"
pytest-forked = "^1.4.0"
pytest-xdist = "^3.1.0"

[tool.poetry.group.docs.dependencies]
mkdocs-material = "^8.5.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = ["--cov=atmosphere", "--cov-report=term-missing"]
filterwarnings = [
  "ignore::DeprecationWarning",
  "ignore::schematics.deprecated.SchematicsDeprecationWarning",
  "ignore:The asyncore module is deprecated",
]

[tool.vulture]
paths = ["atmosphere"]
