_atmosphere_cloud_spec:
  imageRepository: "{{ atmosphere_image_repository | default(None) }}"
  ingressClassName: "{{ openstack_helm_ingress_class_name | default('openstack') }}"
  certManagerClusterIssuer: "{{ openstack_helm_ingress_cluster_issuer | default('atmosphere') }}"
  regionName: "{{ openstack_helm_endpoints_region_name }}"
