Package: ceph-mon
Pin: version {{ ceph_repository_version }}-*
Pin-Priority: 1000

Package: ceph-mgr
Pin: version {{ ceph_repository_version }}-*
Pin-Priority: 1000

Package: ceph-osd
Pin: version {{ ceph_repository_version }}-*
Pin-Priority: 1000