---
apiVersion: identity.openstack.atmosphere.vexxhost.com/v1alpha1
kind: Role
metadata:
  name: member
  namespace: openstack
---
apiVersion: identity.openstack.atmosphere.vexxhost.com/v1alpha1
kind: Role
metadata:
  name: load-balancer-member
  namespace: openstack
spec:
  roleName: load-balancer_member
---
apiVersion: identity.openstack.atmosphere.vexxhost.com/v1alpha1
kind: ImpliedRole
metadata:
  name: member-implies-load-balancer-member
  namespace: openstack
spec:
  roleRef:
    name: member
  impliedRoleRef:
    name: load-balancer-member
---
apiVersion: v1
kind: Secret
metadata:
  name: atmosphere-secrets
  namespace: openstack
stringData:
  keystone-admin-password: "{{ openstack_helm_endpoints_keystone_admin_password }}"
  magnum-database-password: "{{ openstack_helm_endpoints_magnum_mariadb_password }}"
  magnum-keystone-password: "{{ openstack_helm_endpoints_magnum_keystone_password }}"
  magnum-rabbitmq-password: "{{ openstack_helm_endpoints_magnum_rabbitmq_password }}"
  magnum-stack-user-keystone-password: "{{ openstack_helm_endpoints_magnum_keystone_password }}"
  memcache-secret-key: "{{ openstack_helm_endpoints_memcached_secret_key }}"
---
apiVersion: atmosphere.vexxhost.com/v1alpha1
kind: Cloud
metadata:
  name: atmosphere
  namespace: openstack
spec: {{ _atmosphere_cloud_spec | combine(atmosphere_cloud_spec, recursive=True) | to_json }}
