---
# .. vim: foldmarker=[[[,]]]:foldmethod=marker

# .. Copyright (C) 2022 VEXXHOST, Inc.
# .. SPDX-License-Identifier: Apache-2.0

# Default variables
# =================

# .. contents:: Sections
#    :local:


# .. envvar:: containerd_pause_image [[[
#
# Image to use for ``containerd`` pause container
containerd_pause_image: k8s.gcr.io/pause:3.5

                                                                   # ]]]
