# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

- name: Get OVS pods info
  kubernetes.core.k8s_info:
    namespace: openstack
    kind: Pod
    label_selectors:
      - application=openvswitch
      - component=server
  register: ovs_pod

- name: Create "ironic-pxe" bridge
  kubernetes.core.k8s_exec:
    namespace: openstack
    pod: "{{ ovs_pod.resources[0].metadata.name }}"
    command: ovs-vsctl --may-exist add-br ironic-pxe
  when: ovs_pod.resources | length > 0

- name: Create connection between "ironic-pxe" and "br-ex"
  kubernetes.core.k8s_exec:
    namespace: openstack
    pod: "{{ ovs_pod.resources[0].metadata.name }}"
    command: >-
      ovs-vsctl
      --may-exist add-port br-ex patch-ex-ironic-pxe
      -- set interface patch-ex-ironic-pxe type=patch options:peer=patch-ironic-pxe-ex
      -- set port patch-ex-ironic-pxe tag=4090
      -- --may-exist add-port ironic-pxe patch-ironic-pxe-ex
      -- set interface patch-ironic-pxe-ex type=patch options:peer=patch-ex-ironic-pxe
  when: ovs_pod.resources | length > 0

- name: Create node ports on ironic-pxe
  kubernetes.core.k8s_exec:
    namespace: openstack
    pod: "{{ ovs_pod.resources[0].metadata.name }}"
    command: >-
      ovs-vsctl
      --may-exist add-port ironic-pxe ovs-node-0i1
      -- --may-exist add-port ironic-pxe ovs-node-0i2
      -- --may-exist add-port ironic-pxe ovs-node-1i1
      --  --may-exist add-port ironic-pxe ovs-node-1i2
  when: ovs_pod.resources | length > 0

- name: Add IP address to "ironic-pxe"
  changed_when: false
  ansible.builtin.shell:
    cmd: ip addr add 172.24.6.254/24 dev ironic-pxe || true

- name: Set "ironic-pxe" interface to "up"
  changed_when: false
  ansible.builtin.shell:
    cmd: ip link set ironic-pxe up || true
