apiVersion: v1
kind: ConfigMap
metadata:
  name: "kube-prometheus-stack-dashboard-{{ item.name }}"
  namespace: "{{ kube_prometheus_stack_helm_release_namespace }}"
  labels:
    grafana_dashboard: "1"
data:
  {{ item.name }}.json: {{ lookup('file', 'dashboards/' ~ item.name ~ '.json') | to_json }}
