# {{ ansible_managed }}

defaults {
    user_friendly_names {{ multipathd_user_friendly_names | bool | ternary('yes', 'no') }}
    find_multipaths yes
}

devices {
    device {
        vendor                      "NVME"
        product                     "Pure Storage FlashArray"
        path_selector               "queue-length 0"
        path_grouping_policy        group_by_prio
        prio                        ana
        failback                    immediate
        fast_io_fail_tmo            10
        user_friendly_names         no
        no_path_retry               0
        features                    0
        dev_loss_tmo                60
        find_multipaths             yes
    }
    device {
        vendor                      "NETAPP"
        product                     "LUN.*"
        detect_prio                 yes
        dev_loss_tmo                infinity
        failback                    immediate
        fast_io_fail_tmo            5
        features                    "2 pg_init_retries 50"
        flush_on_last_del           yes
        hardware_handler            "1 alua"
        no_path_retry               queue
        path_checker                tur
        path_grouping_policy        group_by_prio
        path_selector               "service-time 0"
        polling_interval            5
        prio                        alua
        retain_attached_hw_handler  yes
        rr_weight                   uniform
        user_friendly_names         no
    }
    device {
        vendor                   "PURE"
        product                  "FlashArray"
        path_selector            "service-time 0"
        hardware_handler         "1 alua"
        path_grouping_policy     group_by_prio
        prio                     alua
        failback                 immediate
        path_checker             tur
        fast_io_fail_tmo         10
        user_friendly_names      no
        no_path_retry            0
        features                 0
        dev_loss_tmo             600
        find_multipaths          yes
    }
}

blacklist {
      devnode "^pxd[0-9]*"
      devnode "^pxd*"
      device {
        vendor "VMware"
        product "Virtual disk"
      }
}
