apiVersion: trident.netapp.io/v1
kind: TridentOrchestrator
metadata:
  name: "{{ trident_csi_orchestrator_name }}"
spec:
  namespace: "{{ trident_csi_namespace }}"
{% if trident_csi_orchestrator_options | length > 0 %}
{{ trident_csi_orchestrator_options | to_nice_yaml(indent=2) | indent(2, true) }}
{% endif %}
