# Copyright (c) 2024 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

tests:
  - interval: 1m
    input_series:
      - series: 'openstack_neutron_network{id="4cf895c9-c3d1-489e-b02e-59b5c8976809",is_external="false",is_shared="false",name="public",provider_network_type="vlan",provider_physical_network="external",provider_segmentation_id="3",status="ACTIVE",subnets="54d6f61d-db07-451c-9ab3-b9609b6b6f0b",tags="tag1,tag2",tenant_id="4fd44f30292945e481c7b8a0c8908869"} 0'
        values: '0x360'
      - series: 'openstack_neutron_network_ip_availabilities_total{cidr="172.24.4.0/24",ip_version="4",network_id="4cf895c9-c3d1-489e-b02e-59b5c8976809",network_name="public",project_id="1a02cc95f1734fcc9d3c753818f03002",subnet_name="public-subnet"}'
        values: '253x360'
      - series: 'openstack_neutron_network_ip_availabilities_used{cidr="172.24.4.0/24",ip_version="4",network_id="4cf895c9-c3d1-489e-b02e-59b5c8976809",network_name="public",project_id="1a02cc95f1734fcc9d3c753818f03002",subnet_name="public-subnet"}'
        values: '250x360'
    alert_rule_test:
      - eval_time: 6h
        alertname: NeutronNetworkOutOfIPs
        exp_alerts: []

  - interval: 1m
    input_series:
      - series: 'openstack_neutron_network{id="4cf895c9-c3d1-489e-b02e-59b5c8976809",is_external="true",is_shared="true",name="public",provider_network_type="vlan",provider_physical_network="external",provider_segmentation_id="3",status="ACTIVE",subnets="54d6f61d-db07-451c-9ab3-b9609b6b6f0b",tags="tag1,tag2",tenant_id="4fd44f30292945e481c7b8a0c8908869"} 0'
        values: '0x360'
      - series: 'openstack_neutron_network_ip_availabilities_total{cidr="172.24.4.0/24",ip_version="4",network_id="4cf895c9-c3d1-489e-b02e-59b5c8976809",network_name="public",project_id="1a02cc95f1734fcc9d3c753818f03002",subnet_name="public-subnet"}'
        values: '253x360'
      - series: 'openstack_neutron_network_ip_availabilities_used{cidr="172.24.4.0/24",ip_version="4",network_id="4cf895c9-c3d1-489e-b02e-59b5c8976809",network_name="public",project_id="1a02cc95f1734fcc9d3c753818f03002",subnet_name="public-subnet"}'
        values: '250x360'
    alert_rule_test:
      - eval_time: 6h
        alertname: NeutronNetworkOutOfIPs
        exp_alerts:
          - exp_labels:
              network_id: 4cf895c9-c3d1-489e-b02e-59b5c8976809
              severity: P3
            exp_annotations:
              summary: "[4cf895c9-c3d1-489e-b02e-59b5c8976809] Network running out of IPs"
              description: "The network 4cf895c9-c3d1-489e-b02e-59b5c8976809 is currently at 98.81422924901186% utilization.  If the IP addresses run out, it will impact the provisioning of new ports."

  - interval: 1m
    input_series:
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-597bdfc87-6txcp",id="2586db0d-54f2-4f86-9592-dfd780e08a24",service="nova-conductor",zone="internal"}'
        values: '1x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-597bdfc87-l5r9p",id="468f47b0-3341-4930-a854-fe19b586da38",service="nova-conductor",zone="internal"}'
        values: '1x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-597bdfc87-t64dr",id="851580a2-0950-49ea-8a4f-37170bbed6ef",service="nova-conductor",zone="internal"}'
        values: '1x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-6c78774ff8-8lr6r",id="25da15ac-497a-4b9d-9c57-ec78c172fae6",service="nova-conductor",zone="internal"}'
        values: '0x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-6c78774ff8-xz4cv",id="8ac2fe99-a601-4a72-9ef7-2cd401db3aee",service="nova-conductor",zone="internal"}'
        values: '0x30'
    alert_rule_test:
      - eval_time: 5m
        alertname: NovaServiceGroupDown
        exp_alerts: []

  - interval: 1m
    input_series:
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-597bdfc87-6txcp",id="2586db0d-54f2-4f86-9592-dfd780e08a24",service="nova-conductor",zone="internal"}'
        values: '0x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-597bdfc87-l5r9p",id="468f47b0-3341-4930-a854-fe19b586da38",service="nova-conductor",zone="internal"}'
        values: '0x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-597bdfc87-t64dr",id="851580a2-0950-49ea-8a4f-37170bbed6ef",service="nova-conductor",zone="internal"}'
        values: '0x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-6c78774ff8-8lr6r",id="25da15ac-497a-4b9d-9c57-ec78c172fae6",service="nova-conductor",zone="internal"}'
        values: '0x30'
      - series: 'openstack_nova_agent_state{adminState="enabled",disabledReason="",hostname="nova-conductor-6c78774ff8-xz4cv",id="8ac2fe99-a601-4a72-9ef7-2cd401db3aee",service="nova-conductor",zone="internal"}'
        values: '0x30'
    alert_rule_test:
      - eval_time: 5m
        alertname: NovaServiceGroupDown
        exp_alerts:
          - exp_labels:
              severity: P2
            exp_annotations:
              summary: "Nova service group down"
              description: "All instances of a specific Nova service have been down for more than 5 minutes."

  - interval: 1m
    input_series:
      - series: 'node_time_seconds{instance="instance1", job="node"}'
        values: '0 60 120 180 240 300'
      - series: 'node_time_seconds{instance="instance2", job="node"}'
        values: '1 61 121 181 241 301'
      - series: 'node_time_seconds{instance="instance3", job="node"}'
        values: '2 62 122 182 242 302'
    alert_rule_test:
      - eval_time: 5m
        alertname: NodeTimeSkewDetected
        exp_alerts:
          - exp_labels:
              severity: P3
              instance: instance3
              job: node
            exp_annotations:
              summary: "Node instance3 has a time difference."
              description: "Node instance3 has a time difference 2."

  - interval: 1m
    input_series:
      - series: 'node_time_seconds{instance="instance1", job="node"}'
        values: '0 60 120 180 240 300'
      - series: 'node_time_seconds{instance="instance2", job="node"}'
        values: '0 60 120 180 240 300'
      - series: 'node_time_seconds{instance="instance3", job="node"}'
        values: '0 60 120 180 240 300'
    alert_rule_test:
      - eval_time: 5m
        alertname: NodeTimeSkewDetected
        exp_alerts: []

  - interval: 1m
    input_series:
      - series: 'mysql_up{instance="percona-xtradb-pxc-0", job="pxc"}'
        values: '1'
      - series: 'mysql_up{instance="percona-xtradb-pxc-1", job="pxc"}'
        values: '1'
      - series: 'mysql_up{instance="percona-xtradb-pxc-2", job="pxc"}'
        values: '1'
    alert_rule_test:
      - eval_time: 1m
        alertname: MysqlClusterDown
        exp_alerts: []

  - interval: 1m
    input_series:
      - series: 'mysql_up{instance="percona-xtradb-pxc-0", job="pxc"}'
        values: '1'
      - series: 'mysql_up{instance="percona-xtradb-pxc-1", job="pxc"}'
        values: '1'
      - series: 'mysql_up{instance="percona-xtradb-pxc-2", job="pxc"}'
        values: '0'
    alert_rule_test:
      - eval_time: 5m
        alertname: MysqlClusterDown
        exp_alerts:
          - exp_labels:
              severity: P5
              instance: percona-xtradb-pxc-2
              job: pxc
            exp_annotations:
              summary: Percona XtraDB Cluster replica is down
              description: percona-xtradb-pxc-2 replica is down.

  - interval: 1m
    input_series:
      - series: 'mysql_up{instance="percona-xtradb-pxc-0", job="pxc"}'
        values: '1'
      - series: 'mysql_up{instance="percona-xtradb-pxc-1", job="pxc"}'
        values: '0'
      - series: 'mysql_up{instance="percona-xtradb-pxc-2", job="pxc"}'
        values: '0'
    alert_rule_test:
      - eval_time: 5m
        alertname: MysqlClusterDown
        exp_alerts:
          - exp_labels:
              severity: P3
            exp_annotations:
              summary: Percona XtraDB Cluster replicas are down
              description: 33% of replicas are online.
          - exp_labels:
              severity: P5
              instance: percona-xtradb-pxc-1
              job: pxc
            exp_annotations:
              summary: Percona XtraDB Cluster replica is down
              description: percona-xtradb-pxc-1 replica is down.
          - exp_labels:
              severity: P5
              instance: percona-xtradb-pxc-2
              job: pxc
            exp_annotations:
              summary: Percona XtraDB Cluster replica is down
              description: percona-xtradb-pxc-2 replica is down.

  - interval: 1m
    input_series:
      - series: 'mysql_up{instance="percona-xtradb-pxc-0", job="pxc"}'
        values: '0'
      - series: 'mysql_up{instance="percona-xtradb-pxc-1", job="pxc"}'
        values: '0'
      - series: 'mysql_up{instance="percona-xtradb-pxc-3", job="pxc"}'
        values: '0'
    alert_rule_test:
      - eval_time: 1m
        alertname: MysqlClusterDown
        exp_alerts:
          - exp_labels:
              severity: P1
            exp_annotations:
              summary: Percona XtraDB Cluster is down
              description: All replicas are down.

  - interval: 1m
    input_series:
      - series: 'openstack_loadbalancer_loadbalancer_status{id="d4e449ad-fad5-4d9e-a039-f71c773ec999", job="openstack-exporter", name="test-lb", operating_status="ONLINE", provisioning_status="PENDING_UPDATE"}'
        values: '0+0x15'
      - series: 'openstack_loadbalancer_loadbalancer_status{id="25dcf79f-b09d-4d0c-9e29-b69ded2ec734", job="openstack-exporter", name="test-lb-2", operating_status="ONLINE", provisioning_status="ACTIVE"}'
        values: '0+0x15'
    alert_rule_test:
      - eval_time: 15m
        alertname: OctaviaLoadBalancerNotActive
        exp_alerts:
          - exp_labels:
              severity: P3
              id: d4e449ad-fad5-4d9e-a039-f71c773ec999
              name: test-lb
            exp_annotations:
              summary: Octavia load balancer not active
              description: Load balancer with ID d4e449ad-fad5-4d9e-a039-f71c773ec999 stuck in non-active state for more then 15 minutes.