# {{ ansible_managed }}

options lpfc lpfc_lun_queue_depth={{ lpfc_lun_queue_depth }} lpfc_sg_seg_cnt={{ lpfc_sg_seg_cnt }} lpfc_max_luns={{ lpfc_max_luns }} lpfc_enable_fc4_type={{ lpfc_enable_fc4_type }}
