apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: {{ gateway_name }}-proxy
  namespace: {{ gateway_namespace }}
spec:
  provider:
    type: Kubernetes
    kubernetes:
      useListenerPortAsContainerPort: true
      envoyService:
        type: ClusterIP
      envoyDaemonSet:
        container:
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: true
          image: {{ atmosphere_images['envoy_proxy'] }}
        pod:
          nodeSelector: {{ gateway_proxy_node_selector }}
        patch:
          value:
            spec:
              template:
                spec:
                  hostNetwork: true
                  dnsPolicy: ClusterFirstWithHostNet
  shutdown:
    drainTimeout: {{ gateway_proxy_drain_timeout }}
