# {{ ansible_managed }}

export OS_IDENTITY_API_VERSION=3

export OS_AUTH_URL="{{ openstack_helm_endpoints['identity']['scheme']['public'] }}://{{ openstack_helm_endpoints['identity']['host_fqdn_override']['public']['host'] }}/v3"
export OS_AUTH_TYPE=password
export OS_REGION_NAME="{{ openstack_helm_endpoints['identity']['auth']['admin']['region_name'] }}"
export OS_USER_DOMAIN_NAME=Default
export OS_USERNAME="{{ openstack_helm_endpoints['identity']['auth']['admin']['username'] }}"
export OS_PASSWORD="{{ openstack_helm_endpoints['identity']['auth']['admin']['password'] }}"
export OS_PROJECT_DOMAIN_NAME=Default
export OS_PROJECT_NAME=admin

{% if cluster_issuer_type is defined and cluster_issuer_type in ('self-signed', 'ca') %}
export OS_CACERT=/usr/local/share/ca-certificates/atmosphere.crt
{% elif cluster_issuer_acme_private_ca is defined and cluster_issuer_acme_private_ca | bool %}
export OS_CACERT=/etc/ssl/certs/ca-certificates.crt
{% endif %}
