# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

galaxy_info:
  author: VEXXHOST, Inc.
  description: Ansible role for Percona XtraDB cluster operator
  license: Apache-2.0
  min_ansible_version: 5.5.0
  standalone: false
  platforms:
    - name: EL
      versions:
        - "8"
        - "9"
    - name: Ubuntu
      versions:
        - focal
        - jammy

dependencies:
  - role: defaults
  - role: vexxhost.kubernetes.upload_helm_chart
    vars:
      upload_helm_chart_src: "{{ percona_xtradb_cluster_operator_helm_chart_path }}"
      upload_helm_chart_dest: "{{ percona_xtradb_cluster_operator_helm_chart_ref }}"
