- name: Install CRDs
  kubernetes.core.k8s:
    state: present
    template:
      - crds.yml

- name: Install operator
  kubernetes.core.k8s:
    state: present
    template:
      - cluster_role_binding.yml
      - namespace.yml
      - service_account.yml
      - secret.yml
      - deployment.yml
      - service.yml
      - resources.yml
