apiVersion: v1
metadata:
  name: keystone-openidc-metadata
  namespace: openstack
  labels:
    application: keystone
kind: ConfigMap
data:
{% for _idp in _oidc_configs %}
  {{ _idp.realm_name }}-oidc-client: '{"client_id":"keystone","client_secret":"{{ keystone_keycloak_client_secret }}","response_type":"id_token"}'
  {{ _idp.realm_name }}-oidc-conf: '{"scope":"{{ keystone_oidc_scopes }}"}'
  {{ _idp.realm_name }}-oidc-profile: '{{ _idp.well_known_oidc_config | to_json }}'
{% endfor %}