cert_manager_issuer:
  ca:
    secretName: root-secret

openstack_helm_glance_images:
  - name: cirros
    source_url: http://download.cirros-cloud.net/0.5.1/
    image_file: cirros-0.5.1-x86_64-disk.img
    min_disk: 1
    disk_format: qcow2
    container_format: bare
    is_public: true
