atmosphere_image: "{{ lookup('file', lookup('env', 'MOLECULE_EPHEMERAL_DIRECTORY') + '/image') }}"
atmosphere_domain: "{{ hostvars['ctl1']['ansible_host'].replace('.', '-') }}.{{ lookup('env', 'ATMOSPHERE_DNS_SUFFIX_NAME') | default('nip.io', True) }}"
atmosphere_issuer_config:
  type: self-signed
atmosphere_object_storage_service_user_password: secret123

openstack_helm_glance_images:
  - name: cirros
    source_url:  https://object-storage.public.mtl1.vexxhost.net/swift/v1/a91f106f55e64246babde7402c21b87a/cirros/
    image_file: cirros-0.6.0-x86_64-disk.raw
    min_disk: 1
    disk_format: raw
    container_format: bare
    is_public: true
