# Copyright (c) 2022 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

_openstack_helm_tempest_values:
  endpoints: "{{ openstack_helm_endpoints }}"
  images:
    tags:
      dep_check: "{{ atmosphere_images['dep_check'] | docker_image('ref') }}"
      ks_user: "{{ atmosphere_images['ks_user'] | docker_image('ref') }}"
      tempest_run_tests: "{{ atmosphere_images['tempest_run_tests'] | docker_image('ref') }}"
  jobs:
    run_tests:
      restartPolicy: Never
      backoffLimit: 0
  conf:
    tempest:
      service_available:
        cinder: true
        glance: true
        horizon: true
        neutron: true
        nova: true
        swift: false
      compute:
        endpoint_type: internal
        fixed_network_name: public
      dashboard:
        dashboard_url: "http://horizon-int.openstack.svc.cluster.local"
      image:
        endpoint_type: internal
      network:
        endpoint_type: internal
        floating_network_name: public
        shared_physical_network: false
      placement:
        endpoint_type: internal
      validation:
        image_ssh_user: cirros
      volume:
        endpoint_type: internal
      object-storage:
        endpoint_type: internal
  pvc:
    enabled: false
