# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

_atmosphere_images:
  alertmanager: quay.io/prometheus/alertmanager:v0.27.0
  barbican_api: registry.atmosphere.dev/library/barbican:zed
  barbican_db_sync: registry.atmosphere.dev/library/barbican:zed
  bootstrap: registry.atmosphere.dev/library/heat:zed
  ceph_config_helper: registry.atmosphere.dev/library/libvirtd:zed
  ceph: quay.io/ceph/ceph:v16.2.11
  cert_manager_cainjector: quay.io/jetstack/cert-manager-cainjector:v1.7.1
  cert_manager_cli: quay.io/jetstack/cert-manager-ctl:v1.7.1
  cert_manager_controller: quay.io/jetstack/cert-manager-controller:v1.7.1
  cert_manager_webhook: quay.io/jetstack/cert-manager-webhook:v1.7.1
  cilium_node: quay.io/cilium/cilium:v1.14.8
  cilium_operator: quay.io/cilium/operator-generic:v1.14.8
  cinder_api: registry.atmosphere.dev/library/cinder:zed
  cinder_backup_storage_init: registry.atmosphere.dev/library/cinder:zed
  cinder_backup: registry.atmosphere.dev/library/cinder:zed
  cinder_db_sync: registry.atmosphere.dev/library/cinder:zed
  cinder_scheduler: registry.atmosphere.dev/library/cinder:zed
  cinder_storage_init: registry.atmosphere.dev/library/cinder:zed
  cinder_volume_usage_audit: registry.atmosphere.dev/library/cinder:zed
  cinder_volume: registry.atmosphere.dev/library/cinder:zed
  cluster_api_controller: registry.k8s.io/cluster-api/cluster-api-controller:v1.6.0
  cluster_api_kubeadm_bootstrap_controller: registry.k8s.io/cluster-api/kubeadm-bootstrap-controller:v1.6.0
  cluster_api_kubeadm_control_plane_controller: registry.k8s.io/cluster-api/kubeadm-control-plane-controller:v1.6.0
  cluster_api_openstack_controller: registry.k8s.io/capi-openstack/capi-openstack-controller:v0.9.0
  csi_node_driver_registrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.4.0
  csi_rbd_attacher: registry.k8s.io/sig-storage/csi-attacher:v3.4.0
  csi_rbd_plugin: quay.io/cephcsi/cephcsi:v3.5.1
  csi_rbd_provisioner: registry.k8s.io/sig-storage/csi-provisioner:v3.1.0
  csi_rbd_resizer: registry.k8s.io/sig-storage/csi-resizer:v1.3.0
  csi_rbd_snapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v4.2.0
  db_drop: registry.atmosphere.dev/library/heat:zed
  db_init: registry.atmosphere.dev/library/heat:zed
  dep_check: registry.atmosphere.dev/library/kubernetes-entrypoint:zed
  designate_api: registry.atmosphere.dev/library/designate:zed
  designate_central: registry.atmosphere.dev/library/designate:zed
  designate_db_sync: registry.atmosphere.dev/library/designate:zed
  designate_mdns: registry.atmosphere.dev/library/designate:zed
  designate_producer: registry.atmosphere.dev/library/designate:zed
  designate_sink: registry.atmosphere.dev/library/designate:zed
  designate_worker: registry.atmosphere.dev/library/designate:zed
  glance_api: registry.atmosphere.dev/library/glance:zed
  glance_db_sync: registry.atmosphere.dev/library/glance:zed
  glance_metadefs_load: registry.atmosphere.dev/library/glance:zed
  glance_registry: registry.atmosphere.dev/library/glance:zed
  glance_storage_init: registry.atmosphere.dev/library/glance:zed
  grafana_sidecar: quay.io/kiwigrid/k8s-sidecar:1.26.1
  grafana: docker.io/grafana/grafana:10.4.0
  haproxy: docker.io/library/haproxy:2.5
  heat_api: registry.atmosphere.dev/library/heat:zed
  heat_cfn: registry.atmosphere.dev/library/heat:zed
  heat_cloudwatch: registry.atmosphere.dev/library/heat:zed
  heat_db_sync: registry.atmosphere.dev/library/heat:zed
  heat_engine_cleaner: registry.atmosphere.dev/library/heat:zed
  heat_engine: registry.atmosphere.dev/library/heat:zed
  heat_purge_deleted: registry.atmosphere.dev/library/heat:zed
  horizon_db_sync: registry.atmosphere.dev/library/horizon:zed
  horizon: registry.atmosphere.dev/library/horizon:zed
  ingress_nginx_controller: registry.k8s.io/ingress-nginx/controller:v1.1.1
  ingress_nginx_default_backend: registry.k8s.io/defaultbackend-amd64:1.5
  ingress_nginx_kube_webhook_certgen: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.1.1
  keepalived: registry.atmosphere.dev/library/keepalived:zed
  keycloak: quay.io/keycloak/keycloak:22.0.1-0
  keystone_api: registry.atmosphere.dev/library/keystone:zed
  keystone_credential_cleanup: registry.atmosphere.dev/library/heat:zed
  keystone_credential_rotate: registry.atmosphere.dev/library/keystone:zed
  keystone_credential_setup: registry.atmosphere.dev/library/keystone:zed
  keystone_db_sync: registry.atmosphere.dev/library/keystone:zed
  keystone_domain_manage: registry.atmosphere.dev/library/heat:zed
  keystone_fernet_rotate: registry.atmosphere.dev/library/keystone:zed
  keystone_fernet_setup: registry.atmosphere.dev/library/keystone:zed
  ks_endpoints: registry.atmosphere.dev/library/heat:zed
  ks_service: registry.atmosphere.dev/library/heat:zed
  ks_user: registry.atmosphere.dev/library/heat:zed
  kube_apiserver: registry.k8s.io/kube-apiserver:v1.22.17
  kube_controller_manager: registry.k8s.io/kube-controller-manager:v1.22.17
  kube_coredns: registry.k8s.io/coredns/coredns:v1.8.4
  kube_etcd: registry.k8s.io/etcd:3.5.6-0
  kube_proxy: registry.k8s.io/kube-proxy:v1.22.17
  kube_scheduler: registry.k8s.io/kube-scheduler:v1.22.17
  kube_state_metrics: registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.12.0
  kubectl: docker.io/bitnami/kubectl:1.27.3
  libvirt: registry.atmosphere.dev/library/libvirtd:zed
  libvirt_tls_sidecar: registry.atmosphere.dev/library/libvirt-tls-sidecar:zed
  libvirt_exporter: docker.io/vexxhost/libvirtd-exporter:latest
  local_path_provisioner_helper: docker.io/library/busybox:1.36.0
  local_path_provisioner: docker.io/rancher/local-path-provisioner:v0.0.24
  loki_gateway: docker.io/nginxinc/nginx-unprivileged:1.24-alpine
  loki: docker.io/grafana/loki:2.9.6
  magnum_api: registry.atmosphere.dev/library/magnum:zed
  magnum_cluster_api_proxy: registry.atmosphere.dev/library/magnum:zed
  magnum_conductor: registry.atmosphere.dev/library/magnum:zed
  magnum_db_sync: registry.atmosphere.dev/library/magnum:zed
  magnum_registry: quay.io/vexxhost/magnum-cluster-api-registry:latest
  manila_api: registry.atmosphere.dev/library/manila:zed
  manila_data: registry.atmosphere.dev/library/manila:zed
  manila_db_sync: registry.atmosphere.dev/library/manila:zed
  manila_scheduler: registry.atmosphere.dev/library/manila:zed
  manila_share: registry.atmosphere.dev/library/manila:zed
  memcached: docker.io/library/memcached:1.6.17
  netoffload: registry.atmosphere.dev/library/netoffload:zed
  neutron_bagpipe_bgp: registry.atmosphere.dev/library/neutron:zed
  neutron_bgp_dragent: registry.atmosphere.dev/library/neutron:zed
  neutron_coredns: docker.io/coredns/coredns:1.9.3
  neutron_db_sync: registry.atmosphere.dev/library/neutron:zed
  neutron_dhcp: registry.atmosphere.dev/library/neutron:zed
  neutron_ironic_agent: registry.atmosphere.dev/library/neutron:zed
  neutron_l2gw: registry.atmosphere.dev/library/neutron:zed
  neutron_l3: registry.atmosphere.dev/library/neutron:zed
  neutron_linuxbridge_agent: registry.atmosphere.dev/library/neutron:zed
  neutron_metadata: registry.atmosphere.dev/library/neutron:zed
  neutron_netns_cleanup_cron: registry.atmosphere.dev/library/neutron:zed
  neutron_openvswitch_agent: registry.atmosphere.dev/library/neutron:zed
  neutron_ovn_metadata: registry.atmosphere.dev/library/neutron:zed
  neutron_server: registry.atmosphere.dev/library/neutron:zed
  neutron_sriov_agent_init: registry.atmosphere.dev/library/neutron:zed
  neutron_sriov_agent: registry.atmosphere.dev/library/neutron:zed
  node_feature_discovery: registry.k8s.io/nfd/node-feature-discovery:v0.11.2
  nova_api: registry.atmosphere.dev/library/nova:zed
  nova_archive_deleted_rows: registry.atmosphere.dev/library/nova:zed
  nova_cell_setup_init: registry.atmosphere.dev/library/heat:zed
  nova_cell_setup: registry.atmosphere.dev/library/nova:zed
  nova_compute_ironic: registry.atmosphere.dev/library/nova:zed
  nova_compute_ssh: registry.atmosphere.dev/library/nova-ssh:zed
  nova_compute: registry.atmosphere.dev/library/nova:zed
  nova_conductor: registry.atmosphere.dev/library/nova:zed
  nova_consoleauth: registry.atmosphere.dev/library/nova:zed
  nova_db_sync: registry.atmosphere.dev/library/nova:zed
  nova_novncproxy_assets: registry.atmosphere.dev/library/nova:zed
  nova_novncproxy: registry.atmosphere.dev/library/nova:zed
  nova_placement: registry.atmosphere.dev/library/nova:zed
  nova_scheduler: registry.atmosphere.dev/library/nova:zed
  nova_service_cleaner: registry.atmosphere.dev/library/heat:zed
  nova_spiceproxy_assets: registry.atmosphere.dev/library/nova:zed
  nova_spiceproxy: registry.atmosphere.dev/library/nova:zed
  oauth2_proxy: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
  octavia_api: registry.atmosphere.dev/library/octavia:zed
  octavia_db_sync: registry.atmosphere.dev/library/octavia:zed
  octavia_health_manager_init: registry.atmosphere.dev/library/heat:zed
  octavia_health_manager: registry.atmosphere.dev/library/octavia:zed
  octavia_housekeeping: registry.atmosphere.dev/library/octavia:zed
  octavia_worker: registry.atmosphere.dev/library/octavia:zed
  openvswitch_db_server: registry.atmosphere.dev/library/openvswitch:zed
  openvswitch_vswitchd: registry.atmosphere.dev/library/openvswitch:zed
  ovn_controller: registry.atmosphere.dev/library/ovn-host:zed
  ovn_northd: registry.atmosphere.dev/library/ovn-central:zed
  ovn_ovsdb_nb: registry.atmosphere.dev/library/ovn-central:zed
  ovn_ovsdb_sb: registry.atmosphere.dev/library/ovn-central:zed
  pause: registry.k8s.io/pause:3.9
  percona_xtradb_cluster_haproxy: docker.io/percona/percona-xtradb-cluster-operator:1.13.0-haproxy
  percona_xtradb_cluster_operator: docker.io/percona/percona-xtradb-cluster-operator:1.13.0
  percona_xtradb_cluster: docker.io/percona/percona-xtradb-cluster:8.0.32-24.2
  percona_version_service: docker.io/perconalab/version-service:main-3325140
  placement_db_sync: registry.atmosphere.dev/library/placement:zed
  placement: registry.atmosphere.dev/library/placement:zed
  prometheus_config_reloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.73.0
  prometheus_ipmi_exporter: us-docker.pkg.dev/vexxhost-infra/openstack/ipmi-exporter:1.4.0
  prometheus_memcached_exporter: quay.io/prometheus/memcached-exporter:v0.10.0
  prometheus_mysqld_exporter: quay.io/prometheus/mysqld-exporter:v0.14.0
  prometheus_node_exporter: quay.io/prometheus/node-exporter:v1.7.0
  prometheus_openstack_database_exporter: ghcr.io/vexxhost/openstack-database-exporter:v0.2.0
  prometheus_openstack_exporter: ghcr.io/openstack-exporter/openstack-exporter:1.7.0
  prometheus_operator_kube_webhook_certgen: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20221220-controller-v1.5.1-58-g787ea74b6
  prometheus_operator: quay.io/prometheus-operator/prometheus-operator:v0.73.0
  prometheus_pushgateway: docker.io/prom/pushgateway:v1.4.2
  prometheus: quay.io/prometheus/prometheus:v2.51.1
  rabbit_init: docker.io/library/rabbitmq:3.10.2-management
  rabbitmq_cluster_operator: docker.io/rabbitmqoperator/cluster-operator:1.13.1
  rabbitmq_credential_updater: docker.io/rabbitmqoperator/default-user-credential-updater:1.0.2
  rabbitmq_server: docker.io/library/rabbitmq:3.10.2-management
  rabbitmq_topology_operator: docker.io/rabbitmqoperator/messaging-topology-operator:1.6.0
  rook_ceph: docker.io/rook/ceph:v1.10.10
  secretgen_controller: ghcr.io/carvel-dev/secretgen-controller@sha256:59ec05ce5847bfd70c8e04f08b5195e918c8f6fbb947ffc91b456494a2958fd5
  senlin_api: registry.atmosphere.dev/library/senlin:zed
  senlin_conductor: registry.atmosphere.dev/library/senlin:zed
  senlin_db_sync: registry.atmosphere.dev/library/senlin:zed
  senlin_engine_cleaner: registry.atmosphere.dev/library/senlin:zed
  senlin_engine: registry.atmosphere.dev/library/senlin:zed
  senlin_health_manager: registry.atmosphere.dev/library/senlin:zed
  staffeln_db_sync: registry.atmosphere.dev/library/staffeln:zed
  staffeln_conductor: registry.atmosphere.dev/library/staffeln:zed
  staffeln_api: registry.atmosphere.dev/library/staffeln:zed
  tempest_run_tests: registry.atmosphere.dev/library/tempest:zed
  vector: docker.io/timberio/vector:0.37.0-debian

atmosphere_images: '{{ _atmosphere_images | combine(atmosphere_image_overrides, recursive=True)
  }}'
