Package: kubectl
Pin: version {{ kubernetes_version }}-00
Pin-Priority: 1000

Package: kubeadm
Pin: version {{ kubernetes_version }}-00
Pin-Priority: 1000

Package: kubelet
Pin: version {{ kubernetes_version }}-00
Pin-Priority: 1000
