version = 2
root = "{{ containerd_storage_dir }}"
state = "{{ containerd_state_dir }}"
oom_score = {{ containerd_oom_score }}

[debug]
  level = "{{ containerd_debug_level | default('info') }}"

[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    sandbox_image = "{{ containerd_pause_image }}"
    max_container_log_line_size = {{ containerd_max_container_log_line_size }}
  [plugins."io.containerd.grpc.v1.cri".registry]
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
      {% for registry in containerd_insecure_registries %}
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ registry }}"]
        endpoint = ["http://{{ registry }}"]
      {% endfor %}
    [plugins."io.containerd.grpc.v1.cri".registry.configs]
      {% for registry in containerd_insecure_registries %}
      [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ registry }}".tls]
        insecure_skip_verify = true
      {% endfor %}
