---
# .. vim: foldmarker=[[[,]]]:foldmethod=marker

# .. Copyright (C) 2022 VEXXHOST, Inc.
# .. SPDX-License-Identifier: Apache-2.0

# Default variables
# =================

# .. contents:: Sections
#    :local:


# .. envvar:: openstack_helm_infra_memcached_values [[[
#
# Overrides for Helm chart values
openstack_helm_infra_memcached_values: {}

                                                                   # ]]]
