# Copyright (c) 2022 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Generate OpenStack-Helm endpoints
  ansible.builtin.include_role:
    name: openstack_helm_endpoints
  vars:
    openstack_helm_endpoints_repo_name: openstack-helm-infra
    openstack_helm_endpoints_repo_url: https://tarballs.opendev.org/openstack/openstack-helm-infra/
    openstack_helm_endpoints_chart: memcached

- name: Deploy Helm chart
  kubernetes.core.k8s:
    state: present
    definition:
      - apiVersion: source.toolkit.fluxcd.io/v1beta2
        kind: HelmRepository
        metadata:
          name: openstack-helm-infra
          namespace: openstack
        spec:
          interval: 60s
          url: https://tarballs.opendev.org/openstack/openstack-helm-infra/

      - apiVersion: v1
        kind: Secret
        metadata:
          name: atmosphere-memcached
          namespace: openstack
        stringData:
          values.yaml: "{{ _openstack_helm_infra_memcached_values | to_nice_yaml }}"

      - apiVersion: helm.toolkit.fluxcd.io/v2beta1
        kind: HelmRelease
        metadata:
          name: memcached
          namespace: openstack
        spec:
          interval: 60s
          chart:
            spec:
              chart: memcached
              version: 0.1.6
              sourceRef:
                kind: HelmRepository
                name: openstack-helm-infra
          install:
            disableWait: true
          valuesFrom:
            - kind: Secret
              name: atmosphere-memcached

      - apiVersion: v1
        kind: Service
        metadata:
          name: memcached-metrics
          namespace: openstack
          labels:
            application: memcached
            component: server
        spec:
          selector:
            application: memcached
            component: server
          ports:
            - name: metrics
              port: 9150
              targetPort: 9150

      - apiVersion: monitoring.coreos.com/v1
        kind: ServiceMonitor
        metadata:
          name: memcached
          namespace: monitoring
          labels:
            release: kube-prometheus-stack
        spec:
          jobLabel: application
          endpoints:
            - port: "metrics"
              path: "/metrics"
              relabelings:
                - sourceLabels: ["__meta_kubernetes_pod_name"]
                  targetLabel: "instance"
                - action: "labeldrop"
                  regex: "^(container|endpoint|namespace|pod|service)$"
          namespaceSelector:
            matchNames:
              - openstack
          selector:
            matchLabels:
              application: memcached
              component: server

      - apiVersion: monitoring.coreos.com/v1
        kind: PrometheusRule
        metadata:
          name: memcached
          namespace: monitoring
          labels:
            release: kube-prometheus-stack
        spec:
          groups:
            - name: memcached
              rules:
                - alert: MemcachedDown
                  expr: memcached_up == 0
                  for: 5m
                  labels:
                    severity: critical
                - alert: MemcachedConnectionLimitApproaching
                  expr: (memcached_current_connections / memcached_max_connections * 100) > 80
                  for: 5m
                  labels:
                    severity: warning
                - alert: MemcachedConnectionLimitApproaching
                  expr: (memcached_current_connections / memcached_max_connections * 100) > 95
                  for: 5m
                  labels:
                    severity: critical
