# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

barbican_helm_release_name: barbican
barbican_helm_chart_path: "../../charts/barbican/"
barbican_helm_chart_ref: /usr/local/src/barbican

barbican_helm_release_namespace: openstack
barbican_helm_kubeconfig: "{{ kubeconfig_path | default('/etc/kubernetes/admin.conf') }}"
barbican_helm_values: {}

# Class name to use for the Ingress
barbican_ingress_class_name: "{{ atmosphere_ingress_class_name }}"

# List of annotations to apply to the Ingress
barbican_ingress_annotations: {}

# Barbican key encryption key
barbican_kek: "{{ undef(hint='You must specify a Barbican key encryption key') }}"

# Allow admin role to access all Barbican secrets.
#
# Enabling this allows users with the admin role to access any secret in
# Barbican, regardless of ownership. This is useful for administrative tasks
# and troubleshooting but has security implications.
#
# WARNING: This setting reduces secret isolation between projects.
#
# barbican_policy_admin_secret_access: true
barbican_policy_admin_secret_access: false

# Allow Nova service user to access Barbican secrets for vTPM operations.
#
# When enabled, the Nova service account can retrieve Barbican secrets from
# any project. This is required for Nova to automatically start vTPM-enabled
# VMs after a physical server reboot, as Nova needs to decrypt the vTPM data
# stored in Barbican.
#
# WARNING: This setting allows the Nova service account to read any secret
# in Barbican. Only enable this if you use vTPM and require automatic VM
# restart after compute node reboots.
#
# barbican_policy_nova_secret_access: true
barbican_policy_nova_secret_access: false
