- name: Deploy exporter
  kubernetes.core.k8s:
    state: present
    definition:
      - apiVersion: apps/v1
        kind: DaemonSet
        metadata:
          name: ethtool-exporter
          namespace: monitoring
          labels:
            application: ethtool-exporter
        spec:
          updateStrategy:
            rollingUpdate:
              maxUnavailable: 100%
          selector:
            matchLabels:
              application: ethtool-exporter
          template:
            metadata:
              labels:
                application: ethtool-exporter
                job: ethtool
            spec:
              hostNetwork: true
              terminationGracePeriodSeconds: 0
              containers:
                - name: ethtool-exporter
                  env:
                    - name: IP
                      valueFrom:
                        fieldRef:
                          fieldPath: status.podIP
                  image: quay.io/vexxhost/ethtool-exporter:{{ prometheus_ethtool_exporter_image_tag }}
                  args:
                    - "-L"
                    - "$(IP)"
                    - "-p"
                    - "9417"
                    - "-I"
                    - "(eth|em|eno|ens|enp)[0-9s]+"
                  ports:
                    - name: metrics
                      containerPort: 9417
