# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

- name: Deploy Secrets Infrastructure
  hosts: controllers
  become: true
  roles:
    - role: vault
      when: atmosphere_vault_internal | default(true) | bool
      tags:
        - vault
    - role: external_secrets
      tags:
        - external-secrets

- hosts: "{{ target | default('controllers') }}"
  become: true
  roles:
    - role: defaults
  post_tasks:
    - name: Set a fact with the "atmosphere_images" for other plays
      ansible.builtin.set_fact:
        atmosphere_images: "{{ atmosphere_images }}"
      tags:
        - always

- ansible.builtin.import_playbook: atmosphere.common.vault_secrets_webhook
  vars:
    target: controllers
    vault_secrets_webhook_image: "{{ atmosphere_images['vault_secrets_webhook'] }}"
    vault_secrets_webhook_vault_env_image: "{{ atmosphere_images['vault_secrets_webhook_vault_env'] }}"
    vault_secrets_webhook_node_selector:
      openstack-control-plane: enabled
    vault_secrets_webhook_helm_values:
      env:
        VAULT_IMAGE: "{{ atmosphere_images['vault'] }}"
        VAULT_CT_IMAGE: "{{ atmosphere_images['consul_template'] }}"
