atmosphere_image: quay.io/vexxhost/atmosphere:0.7.0 # x-release-please-version

atmosphere_config:
  domain: "{{ atmosphere_domain }}"
  issuer: "{{ atmosphere_issuer_config }}"
  kube_prometheus_stack:
    overrides: "{{ kube_prometheus_stack_values | default({}) }}"
  memcached:
    secret_key: "{{ openstack_helm_endpoints_memcached_secret_key }}"
    overrides: "{{ openstack_helm_infra_memcached_values | default({}) }}"
  rook:
    fsid: "{{ ceph_mon_fsid }}"
    admin_secret: "{{ _atmosphere_rook_client_admin_key }}"
    monitor_secret: "{{ _atmosphere_rook_mon_key }}"
    monitors: "{{ _atmosphere_ceph_monitors }}"
    keystone_password: "{{ atmosphere_object_storage_service_user_password }}"
