atmosphere_image: quay.io/vexxhost/atmosphere:0.0.0 # x-release-please-version

atmosphere_config:
  atmosphere:
    memcached:
      secret_key: "{{ openstack_helm_endpoints_memcached_secret_key }}"
      overrides: "{{ openstack_helm_infra_memcached_values | default({}) }}"
