atmosphere_image: "{{ lookup('vexxhost.atmosphere.image_ref', 'atmosphere', output='ref') }}"

atmosphere_config:
  image_repository: "{{ atmosphere_image_repository | default('') }}"
  kube_prometheus_stack:
    overrides: "{{ kube_prometheus_stack_values | default({}) }}"
  memcached:
    secret_key: "{{ openstack_helm_endpoints_memcached_secret_key }}"
    overrides: "{{ openstack_helm_infra_memcached_values | default({}) }}"
  issuer: "{{ atmosphere_issuer_config }}"
  opsgenie: "{{ atmosphere_opsgenie_config | default({}) }}"

atmosphere_cloud_spec: {}
