atmosphere_image: "{{ atmosphere_images['atmosphere'] | vexxhost.atmosphere.docker_image('ref') }}"

atmosphere_config:
  image_repository: "{{ atmosphere_image_repository | default('') }}"
  kube_prometheus_stack:
    overrides: "{{ kube_prometheus_stack_values | default({}) }}"
  issuer: "{{ atmosphere_issuer_config }}"
  opsgenie: "{{ atmosphere_opsgenie_config | default({}) }}"

atmosphere_cloud_spec: {}
