# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# NOTE(mnaser): Horizon does not use any form of standardized configuration
#               format, so we can't show a `diff` of the configuration files.
- name: Verify configuration manually
  ansible.builtin.pause:

- name: Migrate the database
  ansible.builtin.include_role:
    name: migrate_db_from_osa
  vars:
    migrate_db_from_osa_pxc_namespace: "{{ horizon_helm_release_namespace }}"
    migrate_db_from_osa_containers_group: horizon_all
    migrate_db_from_osa_databases: {}

- name: Run deployment flow
  ansible.builtin.import_tasks:
    file: main.yml

- name: Migrate HAproxy
  ansible.builtin.include_role:
    name: migrate_haproxy_from_osa
  vars:
    migrate_haproxy_from_osa_group: horizon_all
    migrate_haproxy_from_osa_service_namespace: "{{ horizon_helm_release_namespace }}"
    migrate_haproxy_from_osa_service_name: horizon-int
    migrate_haproxy_from_osa_haproxy_backend: horizon
