name: lint
on:
  pull_request:

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    container: haxorof/ansible-lint:v6
    steps:
      - uses: actions/checkout@v3.0.2
      - run: ansible-lint roles
        env:
          GITHUB_ACTIONS: true
          GITHUB_WORKFLOW: "{{ github.workflow.name }}"
