name: pages
on:
  workflow_dispatch:
  push:
    tags: ["**"]
    branches:
      - main
      - stable/**

concurrency:
  group: docs

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      with:
        ref: main
        fetch-depth: 0
    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: doc/source
        requirements_path: doc/requirements.txt
        checkout: false
